# This are exercises on set

In [19]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(it_companies)

{'IBM', 'Microsoft', 'Google', 'Facebook', 'Oracle', 'Apple', 'Amazon'}

## Sets Exercises: Level 1

In [8]:
#Find the length of the set it_companies
print(len(it_companies))

#Add 'Twitter' to it_companies
it_companies.add('twitter')
print(it_companies)

#Insert multiple IT companies at once to the set it_companies
it_companies.update(['Huawei', 'Tecno', 'Cisco'])
print(it_companies)

#What is the difference between remove and discard
#it_companies.discard('Samsung') # The discard method does not prompt an error if the item is not in the list

10
{'IBM', 'Tecno', 'Cisco', 'Google', 'Apple', 'Huawei', 'Oracle', 'Amazon', 'Microsoft', 'twitter'}
{'IBM', 'Tecno', 'Cisco', 'Google', 'Apple', 'Huawei', 'Oracle', 'Amazon', 'Microsoft', 'twitter'}
{'IBM', 'Tecno', 'Cisco', 'Google', 'Apple', 'Huawei', 'Oracle', 'Amazon', 'Microsoft', 'Facebook', 'twitter'}

In [9]:
#Remove one of the companies from the set it_companies
it_companies.remove('Facebook')
print(it_companies)

{'IBM', 'Tecno', 'Cisco', 'Google', 'Apple', 'Huawei', 'Oracle', 'Amazon', 'Microsoft', 'twitter'}

In [10]:
#What is the difference between remove and discard
it_companies.discard('Samsung') # The discard method does not prompt an error if the item is not in the list

In [11]:
#What is the difference between remove and discard
it_companies.remove('Samsung') # The remove method does prompt an error if the item is not in the list

KeyError: 'Samsung'

## Sets Exercises: Level 2

In [20]:
A = {19, 22, 24, 20, 25, 26}
print(A)

B = {19, 22, 20, 25, 26, 24, 28, 27}
print(B)

age = [22, 19, 24, 25, 26, 24, 25, 24]
print(age)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
[22, 19, 24, 25, 26, 24, 25, 24]

In [21]:
# Join A and B
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [22]:
# Find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [23]:
# Is A subset of B
print(A.issubset(B))

True

In [24]:
# Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [25]:
# Join A with B and B with A
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [26]:
# What is the symmetric difference between A and B
print(A.symmetric_difference(B))

{27, 28}

In [28]:
# Delete the sets completely
del A
del B

NameError: name 'A' is not defined

## Sets Exercises: Level 3

In [30]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
list_ages = set(age)
print(list_ages)

print(len(age))
print(len(list_ages))

{19, 22, 24, 25, 26}
8
5

Explain the difference between the following data types: string, list, tuple and set

### String data type
+ The string data is any data written in between single or double quatation.
+ For example  
  + +'Adam', 
  + "54", 
  + "python is a general-purpose programming language", 
  + 'I am 56 years old from Nigeria'
+ a string data type have many methods that act on it such as title(), upper(), lower() e.t.c.


### list data type
+ A list is a collection of items that are ordered and modifiable.
+ It also allows for duplicate items.
+ One can create an empty list using the list function or by assigning a [] to a veriable. 
+ else create  list with an existing items/members
+ Also a list can contain different kind of data/members such int, str, or even a list
+ Examples:
  + new_list = list()
  + other_list = []
  + another_list = ['Ha', 'Ja', 5, , [8, 6, 4]]
+ List have various methods that act on it such as update(), split() append() e.t.c.


### Tuple data type
+ A tuple is also a collection of ordered but unmodiafiable members unlike list.
+ Though tuple allows for duplicate members
+ One can create an empty tuple using the tuple function or by assigning a () to a veriable. 
+ else create  tuple with an existing items/members
+ Examples:
  + new_tuple = tuple()
  + other_tuple = ()
  + another_tuple = ('Ha', 'Ja', 5, , 3.4)
+ One can change a tuple to a list and vice vasa
  

### Set data Type 
+ A set is a group of unmodifiable, unordered and un-indexed members.
+ A member or item can be added to set 
+ likewise a set doesnt allow for duplicate members.
+ One can create an empty set using the set function or by assigning a {} to a veriable. 
+ else create tuple with an existing items/members
+ Examples:
  + set = {}
  + set_1 = {3, 5, 6, 2, {4,8, 9}}
+ Just like set in mathematics, one can get the union, intersection, symmetric difference of sets.
+ Using methods such as union(), intersection() e.t.c.

In [33]:
# I am a teacher and I love to inspire and teach people. 
# How many unique words have been used in the sentence? 
# Use the split methods and set to get the unique words.
sentence = 'I am a teacher and I love to inspire and teach people'
print(sentence)

individuals_words = sentence.split()
print(individuals_words)

unique_words = set(individuals_words)
print(unique_words)

I am a teacher and I love to inspire and teach people
['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'and', 'a', 'inspire', 'love', 'I', 'to', 'teach', 'am', 'people', 'teacher'}