### Exercises Level 1

In [5]:
# Iterate 0 to 10 using for loop, do the same using while loop.
for number in range(11):
    print(number)
 
number1 = 0
while number1 < 11:
    print(number1)
    number1 += 1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [14]:
# Iterate 10 to 0 using for loop, do the same using while loop.
for num in range(10, -1, -1):
    print(num)
    
num1 =10
while num1 >= 0:
    print(num1)
    num1 -= 1

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [15]:
# Write a loop that makes seven calls to print(), so we get on the output the following triangle:

for hash in range(8):
    print("#" * hash)

#
##
###
####
#####
######
#######

In [18]:
'''Use nested loops to create the following:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # # '''

for hashtag in range(9):
    print(f'# ' * 8)

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [21]:
'''Print the following pattern:

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100'''

for x in range(11):
    print(f'{x} x {x} = {x * x}')

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [22]:
# Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
skills = ['Python', 'Numpy','Pandas','Django', 'Flask']

for skill in skills:
    print(skill)

Python
Numpy
Pandas
Django
Flask

In [24]:
# Use for loop to iterate from 0 to 100 and print only even numbers

for even in range(0, 101, 2):
    print(even)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [25]:
# Use for loop to iterate from 0 to 100 and print only odd numbers

for odd in range(1, 100, 2):
    print(odd)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Exercises level 2

In [30]:
''' Use for loop to iterate from 0 to 100 and print the sum of all numbers.
            The sum of all numbers is 5050.
'''
sum = 0
for x in range(0, 101):
    sum += x
print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [31]:
'''Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
            The sum of all evens is 2550. And the sum of all odds is 2500.'''
sum_even = 0
for even in range(0, 101, 2):
    sum_even += even
    print(sum_even)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550

In [33]:
sum_odd = 0
for odd in range(1, 100, 2):
    sum_odd += odd
    print(sum_odd)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

### Exercises level 3

In [36]:
#  Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.
from countries import countries
countries_with_land = []

for country in countries:
        if "land" in country:
              countries_with_land.append(country)

# Print the result
print("Countries containing 'land':", countries_with_land)

Countries containing 'land': ['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

In [37]:
# This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruit_list = ['banana', 'orange', 'mango', 'lemon']

reversed_fruits = []

for i in range(len(fruit_list) - 1, -1, -1):
    reversed_fruits.append(fruit_list[i])  

print("Reversed list:", reversed_fruits)

Reversed list: ['lemon', 'mango', 'orange', 'banana']

In [18]:
'''  Go to the data folder and use the countries_data.py file.
        What are the total number of languages in the data
'''
from countries_data import countries_info

length_of_country_list = len(countries)
print(length_of_country_list)

193
{'Pashto': 1, 'Uzbek': 2, 'Turkmen': 2, 'Swedish': 3, 'Albanian': 3, 'Arabic': 25, 'English': 91, 'Samoan': 2, 'Catalan': 1, 'Portuguese': 9, 'Russian': 9, 'Spanish': 24, 'Guaraní': 2, 'Armenian': 2, 'Dutch': 8, '(Eastern) Punjabi': 2, 'German': 7, 'Azerbaijani': 1, 'Bengali': 1, 'Belarusian': 1, 'French': 45, 'Dzongkha': 1, 'Aymara': 1, 'Quechua': 1, 'Bosnian': 2, 'Croatian': 3, 'Serbian': 4, 'Tswana': 2, 'Norwegian': 3, 'Norwegian Bokmål': 2, 'Norwegian Nynorsk': 2, 'Malay': 2, 'Bulgarian': 1, 'Fula': 2, 'Kirundi': 1, 'Khmer': 1, 'Sango': 1, 'Chinese': 5, 'Lingala': 2, 'Kongo': 1, 'Swahili': 4, 'Luba-Katanga': 1, 'Greek (modern)': 2, 'Turkish': 2, 'Czech': 1, 'Slovak': 2, 'Danish': 1, 'Tigrinya': 1, 'Estonian': 1, 'Amharic': 1, 'Faroese': 1, 'Fijian': 1, 'Hindi': 2, 'Urdu': 2, 'Finnish': 1, 'Georgian': 1, 'Kalaallisut': 1, 'Chamorro': 2, 'Haitian': 1, 'Latin': 1, 'Italian': 4, 'Hungarian': 1, 'Icelandic': 1, 'Indonesian': 1, 'Persian (Farsi)': 1, 'Kurdish': 1, 'Irish': 1, 'Manx': 1, 'Hebrew (modern)': 1, 'Japanese': 1, 'Kazakh': 1, 'Kyrgyz': 1, 'Lao': 1, 'Latvian': 1, 'Southern Sotho': 2, 'Lithuanian': 1, 'Luxembourgish': 1, 'Macedonian': 1, 'Malagasy': 1, 'Chichewa': 1, 'Malaysian': 1, 'Divehi': 1, 'Maltese': 1, 'Marshallese': 1, 'Romanian': 2, 'Mongolian': 1, 'Burmese': 1, 'Afrikaans': 2, 'Nauruan': 1, 'Nepali': 1, 'Māori': 1, 'Korean': 2, 'Polish': 1, 'Kinyarwanda': 1, 'Tamil': 2, 'Slovene': 1, 'Somali': 1, 'Southern Ndebele': 1, 'Swati': 2, 'Tsonga': 1, 'Venda': 1, 'Xhosa': 1, 'Zulu': 1, 'Sinhalese': 1, 'Tajik': 1, 'Thai': 1, 'Tonga (Tonga Islands)': 1, 'Ukrainian': 1, 'Bislama': 1, 'Vietnamese': 1, 'Shona': 1, 'Northern Ndebele': 1}
The ten most spoken languages are:
English: 91 countries
French: 45 countries
Arabic: 25 countries
Spanish: 24 countries
Portuguese: 9 countries
Russian: 9 countries
Dutch: 8 countries
German: 7 countries
Chinese: 5 countries
Serbian: 4 countries

In [21]:
'''Find the ten most spoken languages from the data
Go to the data folder and use the countries_data.py file'''

from countries_data import countries_info

language_count = {}

# Loop through each country's data
for country in countries_info:
    for language in country["languages"]:
        if language in language_count:
            language_count[language] += 1
        else:
            language_count[language] = 1
print(language_count)
    
sorted_languages = sorted(language_count.items(), key=lambda x: x[1], reverse=True)

top_10_languages = sorted_languages[:10]

print("The ten most spoken languages are:")
for language, count in top_10_languages:
    print(f"{language}: {count} countries")# Print the results

{'Pashto': 1, 'Uzbek': 2, 'Turkmen': 2, 'Swedish': 3, 'Albanian': 3, 'Arabic': 25, 'English': 91, 'Samoan': 2, 'Catalan': 1, 'Portuguese': 9, 'Russian': 9, 'Spanish': 24, 'Guaraní': 2, 'Armenian': 2, 'Dutch': 8, '(Eastern) Punjabi': 2, 'German': 7, 'Azerbaijani': 1, 'Bengali': 1, 'Belarusian': 1, 'French': 45, 'Dzongkha': 1, 'Aymara': 1, 'Quechua': 1, 'Bosnian': 2, 'Croatian': 3, 'Serbian': 4, 'Tswana': 2, 'Norwegian': 3, 'Norwegian Bokmål': 2, 'Norwegian Nynorsk': 2, 'Malay': 2, 'Bulgarian': 1, 'Fula': 2, 'Kirundi': 1, 'Khmer': 1, 'Sango': 1, 'Chinese': 5, 'Lingala': 2, 'Kongo': 1, 'Swahili': 4, 'Luba-Katanga': 1, 'Greek (modern)': 2, 'Turkish': 2, 'Czech': 1, 'Slovak': 2, 'Danish': 1, 'Tigrinya': 1, 'Estonian': 1, 'Amharic': 1, 'Faroese': 1, 'Fijian': 1, 'Hindi': 2, 'Urdu': 2, 'Finnish': 1, 'Georgian': 1, 'Kalaallisut': 1, 'Chamorro': 2, 'Haitian': 1, 'Latin': 1, 'Italian': 4, 'Hungarian': 1, 'Icelandic': 1, 'Indonesian': 1, 'Persian (Farsi)': 1, 'Kurdish': 1, 'Irish': 1, 'Manx': 1, 'Hebrew (modern)': 1, 'Japanese': 1, 'Kazakh': 1, 'Kyrgyz': 1, 'Lao': 1, 'Latvian': 1, 'Southern Sotho': 2, 'Lithuanian': 1, 'Luxembourgish': 1, 'Macedonian': 1, 'Malagasy': 1, 'Chichewa': 1, 'Malaysian': 1, 'Divehi': 1, 'Maltese': 1, 'Marshallese': 1, 'Romanian': 2, 'Mongolian': 1, 'Burmese': 1, 'Afrikaans': 2, 'Nauruan': 1, 'Nepali': 1, 'Māori': 1, 'Korean': 2, 'Polish': 1, 'Kinyarwanda': 1, 'Tamil': 2, 'Slovene': 1, 'Somali': 1, 'Southern Ndebele': 1, 'Swati': 2, 'Tsonga': 1, 'Venda': 1, 'Xhosa': 1, 'Zulu': 1, 'Sinhalese': 1, 'Tajik': 1, 'Thai': 1, 'Tonga (Tonga Islands)': 1, 'Ukrainian': 1, 'Bislama': 1, 'Vietnamese': 1, 'Shona': 1, 'Northern Ndebele': 1}
The ten most spoken languages are:
English: 91 countries
French: 45 countries
Arabic: 25 countries
Spanish: 24 countries
Portuguese: 9 countries
Russian: 9 countries
Dutch: 8 countries
German: 7 countries
Chinese: 5 countries
Serbian: 4 countries

In [23]:
'''Go to the data folder and use the countries_data.py file.
Find the 10 most populated countries in the world'''

from countries_data import countries_info

sorted_countries = sorted(countries_info, key=lambda x: x["population"], reverse=True)

# Get the top 10 most populated countries
top_10_countries = sorted_countries[:10]

# Print the results
print("The 10 most populated countries in the world are:")
for country in top_10_countries:
    print(f"{country['name']}: {country['population']} people")

The 10 most populated countries in the world are:
China: 1377422166 people
India: 1295210000 people
United States of America: 323947000 people
Indonesia: 258705000 people
Brazil: 206135893 people
Pakistan: 194125062 people
Nigeria: 186988000 people
Bangladesh: 161006790 people
Russian Federation: 146599183 people
Japan: 126960000 people

### This is the end of loop exercises