# Exercises: Level 1

In [4]:
#Declare an empty list
new_list = []

#Declare a list with more than 5 items
new_list_1 = ["item1","item2","item3","item4","item5", "item6", "item7"]

#Find the length of your list
print(len(new_list))
print(len(new_list_1))

#Get the first item, the middle item and the last item of the list
print(new_list_1[0] + "\n" + new_list_1[3] + "\n" + new_list_1[-1])

0
7
item1
item4
item7

In [5]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Jalo", 20, 5.5, "single", "Dutse"]
print(mixed_data_types)

['Jalo', 20, 5.5, 'single', 'Dutse']

In [10]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

In [2]:
#Print the list using print()
print(it_companies)

['CSMC', 'Google', 'Microsoft', 'Apple', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'Huawei']

In [3]:
#Print the number of companies in the list
print(len(it_companies))

9

In [5]:
#Print the first, middle and last company
first_comapany = it_companies[0]
middle_company = it_companies[3]
last_company = it_companies[-1]

print(first_comapany +"\n" + middle_company + "\n" + last_company)

CSMC
Apple
Huawei

In [6]:
#Print the list after modifying one of the companies
it_companies[0] = "CSMC"
print(it_companies)

['CSMC', 'Google', 'Microsoft', 'Apple', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'Huawei']

In [7]:
#Add an IT company to it_companies
it_companies.append("Huawei")
print(it_companies)

['CSMC', 'Google', 'Microsoft', 'Apple', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'Huawei', 'Huawei']

In [8]:
#Insert an IT company in the middle of the companies list
middle_item = len(it_companies) // 2
it_companies.insert(middle_item, "Tecno")
print(it_companies)

['CSMC', 'Google', 'Microsoft', 'Apple', 'Tecno', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'Huawei', 'Huawei']

In [9]:
#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1].upper()
print(it_companies)

['CSMC', 'Google', 'Microsoft', 'Apple', 'Tecno', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'Huawei', 'Huawei']

In [19]:
#Join the it_companies with a string '#;  '
it_companies_with_hash = "#; ".join(it_companies)
print(it_companies_with_hash)

Facebook#; Google#; Microsoft#; Apple#; IBM#; Oracle#; Amazon

In [18]:
#Check if a certain company exists in the it_companies list.
is_company_exist = "Alerro" in it_companies
print(is_company_exist)
is_company_exist = "IBM" in it_companies
print(is_company_exist)

False
True

In [24]:
#Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [25]:
#Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [26]:
#Slice out the first 3 companies from the list
print(it_companies[0:3])

['Oracle', 'Microsoft', 'IBM']

In [31]:
#Slice out the last 3 companies from the list
print(it_companies[-3:])

['Facebook', 'Apple', 'Amazon']

In [33]:
#Slice out the middle IT company or companies from the list
middle_it_companies = len(it_companies) // 2
print(it_companies[0:middle_it_companies])

['Oracle', 'Microsoft', 'IBM']

In [39]:
#Remove the first IT company from the list
it_companies.insert(0, 'Oracle')
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [56]:
it_companies_01 = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
print(it_companies_01)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [58]:
#Remove the middle IT company or companies from the list
middle = len(it_companies_01) // 2
del it_companies_01[middle]
print(it_companies_01)

['Oracle', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'Amazon']

"Join the following lists:\n\nfront_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']\nback_end = ['Node','Express', 'MongoDB']\n"

In [59]:
#Remove the last IT company from the list
del it_companies_01[-1]
print(it_companies_01)

['Oracle', 'Microsoft', 'IBM', 'Facebook', 'Apple']

In [62]:
#Destroy the IT companies list
del it_companies_01
print(it_companies_01) # will give error as shown below as the data type 'it_companies_01' is not defined anymore

NameError: name 'it_companies_01' is not defined

In [64]:
'''Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
'''
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
result = front_end + back_end
print(result)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [80]:
#After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.
full_stack = result
print(full_stack)
del full_stack[5]
print(full_stack)
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)
full_stack.insert(7, 'Node')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'SQL', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'SQL', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'SQL', 'Express', 'MongoDB']

# Exercises: Level 2

In [82]:
#The following is a list of 10 students ages:
#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

students_age = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sort the list and find the min and max age
students_age.sort()
print(students_age)
min_students_age = students_age[0]
print(min_students_age)
max_students_age = students_age[-1]
print(max_students_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [86]:
 #Add the min age and the max age again to the list
students_age.append(min_students_age)
students_age.append(max_students_age)
print(students_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19, 26, 19, 26]
[19, 19, 19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 26]

In [89]:
#Find the median age (one middle item or two middle items divided by two)
students_age.sort()
print(students_age)
print(len(students_age))
median_age = students_age[7]
print(median_age)

[19, 19, 19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 26]
15
24

In [90]:
#Find the average age (sum of all items divided by their number)
students_age_average = sum(students_age) / len(students_age)
print(students_age_average)

22.466666666666665

In [92]:
 #Find the range of the ages (max minus min)
range_of_student_age = max_students_age - min_students_age
print(range_of_student_age)

7

In [93]:
#Compare the value of (min - average) and (max - average), use abs() method
compare = abs(min_students_age - students_age_average) == abs(max_students_age - students_age_average)
print(compare)

False

In [97]:
#Find the middle country(ies) in the countries list
from countries import countries

middle_country = len(countries) // 2
print(countries[middle_country])

Lesotho

In [104]:
    #Divide the countries list into two equal lists if it is even if not one more country for the first half.
print(countries[0:middle_country +1])

print(countries[middle_country + 1 :-1])

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia']

In [106]:
#['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries_list = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(countries_list)
first_country, second_country, third_country, *scandic_countries = countries_list
print(first_country)
print(second_country)
print(third_country)
print(scandic_countries)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

# This marks the end of list exercises